/* Default colours */
:root {
  --main-bg: #fefefe;
  --main-text: #000;
  --card-bg: #e0e0e0;
  --nav-text: #777;
  --dim-text: #555;
  --accent-colour: #0268B2;
  --accent-colour-dim: rgba(2, 104, 178, 0.5);

  --card-radius: 5px; 
  --card-padding: 15px;
  
  --card-grey: #d7d7d7;
  --card-green: #0c7c0c;
  --card-red: #d62528;
  --card-yellow: #e6d600;
}

@font-face {
  font-family: 'Inter-Regular';
  src: url('/fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),  url('/fonts/Inter-Regular.woff') format('woff'), url('/fonts/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("/fonts/Inter.var.woff2?v=3.13") format("woff2");
}

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url("/fonts/Inter.var.woff2?v=3.13") format("woff2");
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.25);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--accent-colour-dim);
}
::-webkit-scrollbar-thumb:active {
  background: var(--accent-colour);
}


/* DEFAULT HTML ELEMENTS */
html {
  overflow-y: auto;
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
      font-family: 'Inter var', sans-serif;
 }
}
body {
  font: 18px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-family: "Inter var", "Inter-Regular", "Roboto", sans-serif;
  font-size: 1.2em;
  background-color: var(--main-bg);
  color: var(--main-text);
}
small {
  color: var(--dim-text);
}
h1, h2, h3, h4, h5, h6 {
  margin: 25px 0 5px 0;
  font-weight: 900;
}
p {
  margin: 0 0 15px 0;
}
a {
  color: var(--accent-colour);
  font-weight: 900;
  text-decoration: none;
}
code {
  white-space: pre;
}
img {
  max-width: 100%;
}
table {
  width: 100%;
}
th {
  background-color: #eaeaea;
  text-align: left;
}
td {
  background-color: #f8f8f8;
}
table, th, td {
  border-bottom: 1px solid #bbb;
  border-top: 1px solid #bbb;
  border-collapse: collapse;
}
table {
  border: 1px solid #bbb;
}

blockquote {
  color: #666;
  box-sizing: border-box;
  border-left: solid 4px var(--accent-colour);
  background: linear-gradient(120deg, rgba(2,104,178,0.15) 0%, rgba(255,255,255,0) 75%);
  padding: 5px 8px;
}
ul, ol {
  margin: 10px 0 10px 0;
}
pre, .commentText {
  white-space: pre-wrap;
}
pre.badge {
  font-family: "Roboto", "Segoe UI", sans-serif;
}
textarea, input, select {
  border-radius: var(--card-radius);
  border: #ccc 1px solid;
  padding: 5px;
  max-width: 100%;
  box-sizing: border-box;
}

textarea:focus, input:focus {
  border: #888 1px solid;
}

label {
  display: inline-block;
}

/* OUTLINE ON HOVER/FOCUS */
input, textarea, a, .btn, select {
  outline: solid 0 var(--accent-colour-dim);
  transition: outline 0.1s ease;
}
input:hover, textarea:hover, a:hover, .btn:hover, select:hover {
  outline: solid 5px var(--accent-colour-dim);
  transition: outline 0.1s ease;
}
input:focus, textarea:focus, a:focus, .btn:focus, select:focus {
  outline: solid 5px var(--accent-colour);
  transition: outline 0.1s ease;
}
.alert-green .btn:hover, .alert-red .btn:hover, .nav-left a:hover {
  outline: solid 5px rgba(255, 255, 255, 0.5);
}
.alert-green .btn:focus, .alert-red .btn:focus, .nav-left a:focus {
  outline: solid 5px #fff;
}


/* BUTTONS */
.btn {
  display: inline-block;
  color: var(--accent-colour);
  background-color: #fafafa;
  padding: 5px 10px; 
  border: 1px solid;
  text-decoration: none;
  margin-top: 5px;
  border-radius: var(--card-radius);
  transition: background-color 0.3s ease, outline 0.1s ease;
  outline: solid 0 var(--accent-colour-dim);
  font-weight: 900;
}
.btn-danger {
  background-color: var(--card-red);
  color: #fff;
  border: solid 1px var(--card-red);
}
.btn:hover {
  cursor: pointer;
  color: #fff;
  background-color: var(--accent-colour);
  border: solid 1px #fff;
}
.btn:focus {
  background-color: var(--accent-colour);
  color: #fff;
}


/* NAVIGATION BAR */
.nav {
  padding: 15px;
  border-radius: 0 0 var(--card-radius) var(--card-radius);
  background-color: #000;
  height: 35px;
}
.nav a {
  text-decoration: none;
  font-weight: 900;
  margin: 0 10px 0 10px;
  color: var(--nav-text);
  line-height: 2rem;
}
.nav-left {
  float: left;
}
.nav-right {
  float: right;
}
.logo {
  height: 18px;
}
.active {
  color: #fff !important;
}


/* PAGE */
.container {
  max-width: 1250px;
  margin: 0 auto;
}
.content {
  padding: 20px;
}
.scope {
  background: #000;
  color: #fff;
  padding: 5px 10px;
  margin-bottom: 20px;
  display: inline-block;
  border-radius: var(--card-radius);
}
.footer {
  font-size: 0.8rem;
  padding: 8px;
  text-align: center;
}
.footer p {
  margin: 5px;
}
.lineform {
  display: inline;
}
.noTopMargin {
  margin-top: 0 !important;
}
.noBottomMargin {
  margin-bottom: 0 !important;
}
.muted-text {
  color: #6f6f6f;
  font-size: 0.9rem;
}


/* CARDS */
.card {
  padding: var(--card-padding);
  display: block;
  background-color: var(--card-bg);
  border-radius: var(--card-radius);
}
.card-title {
  font-weight: 900;
  font-size: 1.25em;
  margin: 0 0 5px 0;
}
.card-score-title {
  margin-bottom: 3px;
}
a.card {
  text-decoration: none;
}
.card p {
  margin: 0;
}
.card p i {
  color: var(--dim-text);
  font-size: 0.8em;
  line-height: 0.75em;
}
.badge {
  background: #dedede;
  padding: 5px 7px;
  border-radius: var(--card-radius);
  color: #3f3f3f;
}
.tag {
  display: inline-block;
  background-color: #000;
  color: #fff;
  border-radius: var(--card-radius);
  padding: 0 5px;
}
.meta {
  padding: 0;
  margin: 0;
  color: #555;
  font-weight: normal;
  font-size: 1em;
}
.meta p {
  margin: 0;
}


/* CARD GRIDS */

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.card-grid-vertical {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
.score-grid-container {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-gap: 15px;
}
.announcements-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
}


/* ALERTS */
.alert-green {
  background-color: var(--card-green);
  color: #fff;
}
.alert-grey {
  background-color: var(--card-grey);
}
.alert-yellow {
  background-color: var(--card-yellow);
}
.alert-red {
  background-color: var(--card-red);
  color: #fff;
}


/* ANNOUNCEMENT */
.a-title {
  margin: 0;
}
.a-summary {
  color: var(--dim-text);
  font-weight: normal;
  margin-bottom: 5px;
}


/* SCORED CARDS */


/* COMMENTS */
#admin {
 background-color: var(--card-red);
 color: #fff;
}
.comments {
  box-sizing: border-box;
}
.comment {
  margin: 10px 5px 5px 5px;
  padding: 5px 10px;
  color: var(--main-text);
  box-sizing: border-box;
  border-left: solid 4px var(--accent-colour);
  background: linear-gradient(120deg, rgba(2,104,178,0.15) 0%, rgba(255,255,255,0) 75%);
}
.commentText {
  margin: 2px 0 0 0;
}
.commentInfo {
  margin: 0;
  font-size: small;
  color: var(--dim-text);
}
.commentBtn {
  margin: 0;
}


/* UPVOTES */
.upvotes {
  font-size: 2em;
  color: #000;
  text-align: center;
  margin-top: 3px;
}
.upvote {
  padding: 5px 7px !important;
}
.upvoted {
  display: inline-block;
  margin-top: 5px;
  margin: 0;
}
.upvoteInfo {
  color: var(--dim-text);
}


/* MISC */
.item-title {
  font-weight: 900;
}
.form-item {
  display: block;
  width: 100%;
  margin-top: 5px;
}
#category, #newTicket, button {
  display: inline-block;
}
#category {
  margin-bottom: 10px;
}

/* RESPONSIVE LAYOUT */
.col-1{width:8.33%}.col-2{width:16.66%}.col-3{width:25%}.col-4{width:33.33%}.col-5{width:41.66%}.col-6{width:50%}.col-7{width:58.33%}.col-8{width:66.66%}.col-9{width:75%}.col-10{width:83.33%}.col-11{width:91.66%}.col-12{width:100%}

/* MOBILE RESPONSIVENESS */
@media only screen and (max-width: 780px) {
  body {
    font-size: 1em;
  }
  textarea {
    max-width: 100%;
  }
  .content {
    padding: 10px;
  }
  .scope {
    margin-bottom: 10px !important;
  }
  .btn, select {
    padding: 10px 15px;
  }
  .card-grid {
    gap: 10px !important;
  }
  .card-grid-vertical {
    gap: 10px;
  }
  .grid-wide {
    grid-template-columns: 1fr !important;
  }
}

@media only screen and (max-width: 1250px) {
  .nav {
    border-radius: 0;
  }
  .card-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 860px) {
  [class*="col-"] {
    width: 100%;
    box-sizing: border-box;
    margin-left: 0;
  }
  blockquote {
    margin-left: 25px;
  }
  .scope {
    margin-bottom: 20px;
  }
  .card-grid {
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
  }
  .card, .alert {
    margin: 0;
  }
  .form-item {
    margin: 0;
  }
  .card-score {
    padding: 10px;
    margin: 0 0 10px 0;
  }
  #newTicket {
    margin-bottom: 10px;
  }
  .score-grid-container {
    grid-template-columns: 50px 1fr;
    grid-gap: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
  #ticket-card {
    padding: 10px;
  }
}

/* DARK THEME */
@media (prefers-color-scheme: dark) {
  :root {
    --main-bg: #202020;
    --main-text: #efefef;
    --dim-text: #bbb;
    --danger-bg: #94282f;
    --success-bg: #328732;
    --card-grey: #3c4043;
    --accent-colour: #0095ff;
    --accent-colour-dim: rgba(0, 149, 255, 0.5);
  }
  blockquote {
    color: var(--dim-text);
  }
  .badge {
    background-color: var(--card-grey);
    color: var(--main-text);
  }
  .btn {
    background-color: var(--main-bg);
    border: solid 1px #666;
    color: #fefefe;
  }
  .btn-danger {
    background-color: var(--card-red);
  }
  .btn:hover {
    background-color: var(--accent-colour);
    color: #000;
    border-color: var(--main-text);
  }
  .btn:focus {
    background-color: var(--accent-colour);
    color: #000;
    border-color: var(--main-text);
  }
  .card p i {
    color: var(--dim-text);
  }

  .alert {
    color: #efefef;
  }
  .alert-green {
    background-color: var(--card-green) !important;
  }
  .alert-yellow {
    background-color: var(--card-yellow) !important;
    color: #000;
  }
  .alert-red {
    background-color: var(--card-red) !important;
  }
  .meta {
    color: var(--dim-text);
  }
  .nav a {
    color: var(--nav-text);
  }
  .post table, .post th, .post td {
    border: 2px solid #4e4e4e;
  }
  textarea, input, select {
    background-color: var(--card-grey);
    border-color: #666;
    color: #efefef;
  }
  .post img, .comment img {
    background-color: #efefef;
  }
  code, pre {
      background-color: #333;
  }
  .card {
    background-color: #404040;
  }

  .upvotes {
    color: #fff;
  }
}
