/* Default colours */
:root {
  --main-bg: #fefefe;
  --main-text: #000;
  --nav-text: #777;
  --accent-colour: #0268B2;

  --card-radius: 5px;
  --card-padding: 15px;

  --success-bg: #a7f9a7;
  --danger-bg: #f9a7b6;
  --info-bg: #d7d7d7;
  --warning-bg: #fcef37;

  --danger-btn: #fc4e51;
}

/* Page style */
html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  font-family: "Lucidia Grande", "Segoe UI", "Roboto", sans-serif;
  font-size: 1.2em;
  margin: 0;
  background-color: var(--main-bg);
  color: var(--main-text);
}

.container {
  max-width: 1250px;
  position: relative;
  margin: 0 auto;
}

.content {
  padding: 20px;
}

.footer {
  font-size: 0.8rem;
  padding: 8px;
  text-align: center;
}

/* Typography */
.title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0 30px 0 30px
}

.footer p {
  margin: 5px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 25px 0 0 0;
}

p {
  margin: 0 0 15px 0;
}

.card p i {
  color: #555;
  font-size: 0.8em;
  line-height: 0.75em;
}

.cardTitle {
  font-size: 1.1em;
}

.active {
  color: #fff !important;
}

.noTopMargin {
  margin-top: 0 !important;
}

.noBottomMargin {
  margin-bottom: 0 !important;
}

.heading {
  font-weight: bold;
  font-size: 1.1em;
}

a {
  color: var(--accent-colour);
  font-weight: bold;
  text-decoration: none;
}

input:hover, textarea:hover, a:hover, .btn:hover, select:hover {
  outline: solid 5px rgba(2, 104, 178, 0.5);
  transition: outline 0.1s ease;
}

input:focus, textarea:focus, a:focus, .btn:focus, select:focus {
  outline: solid 5px var(--accent-colour);
  transition: outline 0.1s ease;
}

.btn:hover {
  background-color: var(--accent-colour);
  cursor: pointer;
  color: #fff;
}

.muted-text {
  color: #6f6f6f;
  font-size: 0.9rem;
}

code {
  white-space: pre;
}

img {
  max-width: 100%;
}
/* Navigation */
.nav {
  padding: 15px;
  border-radius: 0 0 var(--card-radius) var(--card-radius);
  background-color: #000;
  height: 35px;
}

.nav a {
  text-decoration: none;
  font-weight: bold;
  margin: 0 10px 0 10px;
  color: var(--nav-text);
  line-height: 2rem;
}

.nav-left {
  float: left;
}

.nav-right {
  float: right;
}

.logo {
  height: 18px;
}
/* Entries listing */
.entry {
  display: block;
  width: 100%;
  font-weight: bold;
  text-decoration: none;
}

.meta {
  padding: 0;
  margin: 0 0 5px 15px;
  color: #555;
  font-weight: normal;
}

.meta p {
  margin: 0;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

a.card {
  text-decoration: none;
}

.card {
  padding: var(--card-padding);
  display: block;
  background-color: #e0e0e0;
  margin: 10px;
  border-radius: 5px;
}

.card p {
  margin: 0;
}

blockquote {
  color: #666;
  border-left: 4px solid #ccc;
  padding-left: 8px;
  margin-left: 0;
}

pre {
  padding: 4px;
  white-space: pre-wrap;
}

code, pre {
  background-color: #efefef;
  border-radius: 3px;
}

.badge {
  background: #dedede;
  padding: 2px 5px;
  border-radius: 4px;
  color: #3f3f3f;
}

.btn {
  display: inline-block;
  color: var(--accent-colour);
  background-color: #fafafa;
  padding: 5px 10px; 
  border: 1px solid;
  text-decoration: none;
  margin-top: 5px;
  border-radius: var(--card-radius);
  transition: background-color 0.3s ease;
}

.btn-danger {
  background-color: var(--danger-btn);
  color: #fff;
}

/* Alert */
.alert {
  display: block;
  margin: 10px 10px 20px 10px;
  padding: var(--card-padding);
  color: #000;
  border-radius: var(--card-radius);
}

.alert-title {
  font-weight: bold;
  font-size: 1.25em;
  margin-top: 0;
}

.alert-green {
  background-color: #228B22;
  color: #fff;
}

.alert-grey {
  background-color: var(--info-bg);
}

.alert-yellow {
  background-color: var(--warning-bg);
}

.alert-red {
  background-color: var(--danger-bg);
}

textarea, input, select {
  border-radius: 0;
  border: #ccc 1px solid;
  padding: 5px;
  max-width: 100%;
  box-sizing: border-box;
}

textarea:focus, input:focus {
  border: #888 1px solid;
}

label {
  display: inline-block;
}

.item-title {
  font-weight: bold;
}

.form-item {
  display: block;
  width: 100%;
  margin-top: 5px;
}

.form-group {
  padding-bottom: 10px;
}

/* Responsive Layout */
.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

/* Mobile responsiveness */
@media only screen and (max-width: 780px) {
  body {
    font-size: 1em;
  }

  textarea {
    max-width: 100%;
  }

  .content {
    padding: 15px;
  }
}


@media only screen and (max-width: 1250px) {
  .nav {
    border-radius: 0;
  }
}

@media only screen and (max-width: 860px) {
  [class*="col-"] {
    width: 100%;
    box-sizing: border-box;
    margin-left: 0;
  }

  .card-grid {
    grid-template-columns: 1fr 1fr;
  }

  .btn {
    padding: 10px 15px;
  }

  .card-grid {
    box-sizing: border-box;
  }

  .gridFullWidth {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 400px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --main-bg: #202020;
    --main-text: #cfcfcf;
    --nav-text: #cfcfcf;
    --danger-bg: #94282f;
    --success-bg: #328732;
    --info-bg: #3c4043;
  }
  .badge, .btn {
    background-color: #3c4043;
    color: #feffff;
  }
  .alert {
    color: #efefef;
  }
  .btn {
    border-color: #666;
  }
  blockquote {
    color: #888;
  }
  .nav-right, .meta a, .entry a {
    color: #cfcfcf;
  }
  .nav-title {
    color: #cfcfcf !important;
  }
  .post table, .post th, .post td {
    border: 2px solid #4e4e4e;
  }
  textarea, input {
    background-color: #434449;
    border-color: #666;
    color: #efefef;
  }
  .post img, .comment img {
    background-color: #efefef;
  }
  code, pre {
      background-color: #333;
  }

  .card {
    background-color: #404040;
  }
}
