{{template "base/head" .}}
{{template "partials/flash" .}}
<h1 class="noTopMargin">Confirm</h1>
<div class="col-8">
	<p>Please confirm your ticket below, as this is what we will see.</p>

  <p><b>To</b>: {{range .Recipients}}<span class="badge">{{.}}</span> {{end}}
  <p><b>Category</b>: <span class="badge">{{.Category}}</span></p>
  <p><b>Subject</b>: <span class="badge">{{.Subject}}</span></p>
  <p><b>Contact Email</b>: <span class="badge">{{if .Email}}{{.Email}}{{else}}<i>Not
    provided</i>{{end}}</span></p>
  <p><b>Message</b>:</p>
  <p><pre class="badge">{{.Message}}</pre></p>
</div>
<form method="post">
	<input type="hidden" name="_csrf" value="{{.csrf_token}}" />
	<input type="hidden" name="category" value="{{.Category}}" />
	<input type="hidden" name="subject" value="{{.Subject}}" />
	<input type="hidden" name="message" value="{{.Message}}" />
	<input type="hidden" name="email" value="{{.Email}}" />
	<input type="hidden" name="confirm" value="1" />
	<button type="submit" class="btn">Send</button>
</form>
</div>
{{template "base/footer" .}}
