{{template "base/head" .}}
{{template "partials/flash" .}}
<h1>Configuration</h1>
<p>This is a <a href="https://toml.io/en/v1.0.0-rc.1">TOML</a> file containing some of the information that is
  displayed, such as class rep names and emails.</p>

<style type="text/css" media="screen">
  #editor {
    height: 50vh;
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
  }
  
  .ace_gutter {
    display: none;
  }
</style>

<div id="editor">{{.Conf}}</div>

<form method="post" id="form">
  <input type="hidden" name="conf" id="config" value=""></input>
	<input type="hidden" name="_csrf" value="{{.csrf_token}}" />
  <a class="btn" onclick="submit();">Update</a>
</form>

<script src="/ace-builds/src-min/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/monokai");
  editor.session.setMode("ace/mode/toml");

  function submit() {
    document.getElementById("config").value = editor.getValue();
    document.getElementById("form").submit();
  }
</script>

{{template "base/footer" .}}
