{{template "base/head" .}}
{{if .IsHome}}
{{if .Params.ShowNotice}}
<div class="alert alert-green">
  <p class="alert-title">Update</p>
  <p>{{.Params.NoticeText}}</p>
  {{if .Params.NoticeLink}}<p><a href="{{.Params.NoticeLink}}">Read
    more...</a></p>{{end}}
</div>
{{end}}
<h3>Links &amp; Resources</h3>

<div class="card-grid">
{{ range .Params.links }}
<div class="card">
  <a href="{{.link}}" target="_blank">{{.name}}</a>
</div>
{{end}}
</div>
<h3>Your Class Representatives</h3>
<div class="card-grid">
{{ range .Params.classrep }}
<div class="card">
  <p>{{.name}}</p>
  <p><i>{{.course}}</i></p>
  <p><a href="mailto:{{.email}}" class="btn">Contact</a></p>
</div>
{{end}}
</div>

{{end}}
{{if not .IsHome}}<h2>{{.Title}}</h2>{{end}}
{{.Content}}
{{ range .Data.Pages }}
{{if eq .Dir "/"}}
<div class="entry">
	<a href="{{.URL}}">{{.Title}}</a>
	<div class="meta">
		<p><a href="{{.URL}}">{{.Params.Description}}</a></p>
	</div>
</div>
{{end}}
{{end}}
{{template "base/footer" .}}
