{{template "base/head" .}}
{{if .IsHome}}

{{if .Config.ShowNotice}}
<div class="card {{if eq .Config.NoticeColour ""}}alert-grey{{end}}{{.Config.NoticeColour}}">
  <p class="card-title">{{if eq .Config.NoticeTitle ""}}Update{{end}} {{.Config.NoticeTitle}}</p>
  <p>{{.Config.NoticeText}}</p>
  {{if .Config.NoticeLink}}<a class="btn" href="{{.Config.NoticeLink}}">Read
    more</a>{{end}}
</div>
{{end}}
<h2>Links &amp; Resources</h2>

<div class="card-grid">
  <a class="card" href="/preview">Style Guide</a>
  {{ range .Config.Links }}
  <a class="card" href="{{.Link}}">{{.Name}}</a>
  {{end}}
</div>


<h2>Your Class Representatives</h2>

<div class="card-grid">
  
  <div class="card">
    <p>Send an anonymous direct complaint</p>
    <p><a href="/complaints" class="btn btn-danger">Send complaint</a></p>
  </div>
  {{ range .Config.ClassReps }}
  <div class="card">
    <p class="cardTitle">{{.Name}}</p>
    <p class="meta">{{.Course}}</p>
    <p><a href="mailto:{{.Email}}" class="btn">Contact</a></p>
  </div>
  {{end}}
</div>

{{end}}
{{if not .IsHome}}<h2>{{.Title}}</h2>{{end}}

{{template "base/footer" .}}