{{template "base/head" .}}
{{if .IsHome}}
{{if .Config.ShowNotice}}
<div class="alert {{if eq .Config.NoticeColour ""}}alert-grey{{end}}{{.Config.NoticeColour}}">
  <p class="alert-title">{{if eq .Config.NoticeTitle ""}}Update{{end}} {{.Config.NoticeTitle}}</p>
  <p>{{.Config.NoticeText}}</p>
  {{if .Config.NoticeLink}}<a class="btn" href="{{.Config.NoticeLink}}">Read
    more</a>{{end}}
</div>
{{end}}
<h3>Links &amp; Resources</h3>

<div class="card-grid">
  {{ range .Config.Links }}
  <div class="card">
    <a href="{{.Link}}" target="_blank">{{.Name}}</a>
  </div>
  {{end}}
</div>

<h3>Top Tickets</h3>
<div class="card-grid">
  <!-- display top 3 tickets -->
  <div class="card">
    <p class="heading">Operating Systems Marking</p>
    <p><i>F29OC</i></p>
    <p>Issues regarding the way in which F29OC has been marked</p>
    <a class="btn" href="">View Ticket</a>
  </div>
</div>

<h3>Your Class Representatives</h3>
<div class="card-grid">
  {{ range .Config.ClassReps }}
  <div class="card">
    <p class="cardTitle">{{.Name}}</p>
    <p><i>{{.Course}}</i></p>
    <p><a href="mailto:{{.Email}}" class="btn">Contact</a></p>
  </div>
  {{end}}
</div>

{{end}}
{{if not .IsHome}}<h2>{{.Title}}</h2>{{end}}

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


{{template "base/footer" .}}