{{template "base/head" .}}
{{template "partials/flash" .}}
<h1>{{.Title}}</h1>

<div class="card-grid gridFullWidth">
  {{ range .Lecturers }}
  <div class="card">
    <h3 class="noTopMargin noBottomMargin">{{.Name}}</h3>
    <a href="{{.Email}}">{{.Email}}</a>
    <p>{{.Office}}</p>
    <p><i>Last Updated: {{.Updated}}</i></p>
  </div>
  {{end}}
  <div class="card alert-yellow">
    <h3 class="noTopMargin">Note</h3>
    <p>The information on this page may be out of date or incorrect.</p>
  </div>
</div>
{{template "base/footer" .}}