{{template "base/head" .}}
<div class="content">
	{{template "partials/flash" .}}
	<h2>Profile</h2>
	<form method="post">
		<div class="col-4">
		<div class="form-group">
			<label class="item-title" for="username">Username <span class="muted-text">(this can't
				be changed)</span></label>
			<input class="form-item" id="username" type="text" 
				disabled="1" value="{{.User.Username}}" />
		</div>
		<div class="form-group">
			<label class="item-title">Created</label>
			<label class="form-item">{{CalcDurationShort .User.CreatedUnix}} ago</label>
		</div>
		<div class="form-group">
			<label class="item-title" for="fullname">Display Name</label>
			<input class="form-item" id="fullname" name="fullname" type="text" 
				value="{{.User.FullName}}">
		</div>
		<div class="form-group">
			<label class="item-title">Score <span class="muted-text">(iota)</span></label>
			<label class="form-item">{{.User.Iota}}&iota;</label>
		</div>
		<div class="form-group">
			<label class="item-title">Badge</label>
			<div class="form-item">
				{{range $i, $b := .AvailableBadges}}<input type="radio" name="badge"
				value="{{$b}}" id="{{$b}}"{{if or (eq $.User.Badge $b) (and (eq $.User.Badge "") (eq $b "None")) }} checked="1"{{end}}>
				<label for="{{$b}}">{{$b}}</label> {{end}}
			</div>
		</div>
		</div>
		<input type="hidden" name="_csrf" value="{{.csrf_token}}">
		<button type="submit" class="btn">Update</button>
	</form>
	<br>
	<h2>Your Data</h2>
	<form method="post" action="/profile/data.json">
	<p>We collect your university username and any information you submit on
	this site. We do not share your information to third-parties or use
	analytics or tracking technologies.</p>
	<p>You may download your data as a JSON file.</p>
		<input type="hidden" name="_csrf" value="{{.csrf_token}}">
		<button type="submit" class="btn">Request data</button>
	<p><small>You may request your data to be deleted by contacting the <a
	href="mailto:admin@neatnote.xyz">site administrator</a>.</small></p>
	</form>


</div>
{{template "base/footer" .}}

