{{template "base/head" .}} {{template "partials/flash" .}}
<div class="col-8">
  <h1>{{if not .Category}}Tickets{{else}}Tickets - {{.Category}}{{end}}</h1>
  <p>You can submit a public issue where others may comment on and upvote your submission. If you'd like to make a
    private complaint to the class representatives, visit the <a href="/complaints">complaints page</a>.
  </p>
</div>
<form method="post">
  <div class="form-group">
    <a href="/tickets/new" class="btn" id="newTicket">New Ticket</a>
    <select class="form-item col-6" name="category" id="category" onchange="this.form.submit()">
      <option value="" selected disabled hidden>Filter by category</option>
      <option value="General">General</option>
      {{range .Courses}}
      <option value="{{.Code}}">{{.Name}} ({{.Code}})</option>
      {{end}}
    </select>
    <noscript>
      <button type="submit" class="btn">Sort</button>
    </noscript>
    {{if ne .Category ""}}
    <a href="/tickets" type="submit" class="btn">Clear Filter</a>
    {{end}}
  </div>
</form>
{{range .Tickets}}
{{if not .IsResolved}}
{{template "ticket_card" .}}
{{end}}
{{end}}
<h2>Resolved</h2>
{{range .Tickets}}
{{if .IsResolved}}
{{template "ticket_card" .}}
{{end}}
{{end}}

{{template "base/footer" .}}